<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Admin | E-Store</title>
</head>
<body>
	<section>

		<!-- Start Latest Product Module -->
		<div class="container p-5">
		<p class="fs-5 m-2 text-center">Admin Dashboard</p>
			<div class="row">
				<div class="col-md-4">
					<div class="card custom-card-shadow">
						<div class="card-body text-center">
							<i class="fa-solid fa-plus fa-2x"></i>
							<p class="fs-5 text-center">ADD Product</p>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- End of the Latest Product Module -->
		
		
	</section>
</body>
</html>